@media (max-width: 1024px) {
	.instagram-wrapper {
			width: 95%;
	}
}

@media (max-width: 650px) {
	footer {
		display: none;
	}
	
	.instagram-wrapper {
		width: 100%;
	}

	.instagram-phone {
		display: none;
	}

	.instagram-continue {
		width: 100%;
	}

	.group {
		border: 1px solid transparent;
	}
	
}